.navbar a {
	color: white!important;
}

.thumbnail {
	padding: 0;
}

.thumbnail img {
	width: 100%;
}

.caption {
	padding: 10px;
	/* text-align:center; */
}

.caption-full {
	padding: 10px;
}

.flash-card {	
	text-align: center;
	padding-bottom: 10px;
}